[submodule "app/data"]
    path = app/data
    url = https://www.modelscope.cn/datasets/BJQW14B/bs_challenge_financial_14b_dataset.git
[submodule "app/dataset"]
	path = app/dataset
	url = https://www.modelscope.cn/datasets/BJQW14B/bs_challenge_financial_14b_dataset.git
